<!--<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >Taxe Boisson</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="create-list" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="create-list" routerLinkActive="active">Locale Create & List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="item-search" routerLinkActive="active">Locale Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="locale-criteria" routerLinkActive="active">Locale Citeria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="taxe-paiement" routerLinkActive="active">Paiement</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="search-via-city" routerLinkActive="active">Serach-Via-City</a>
            </li>
          </ul>
          <span class="navbar-text">
      -
    </span>
        </div>
      </nav>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
-->

<!--<h1>Lavalamp CSS Menu</h1>-->

<nav>
  <a><span class="taxe">Taxe Boisson</span></a>
  <a routerLink="create-list">Home</a>
  <a routerLink="item-search">save service</a>
  <a routerLink="taxe-paiement">paiement</a>
  <a routerLink="search-via-city">information</a>
  <a routerLink="locale-criteria">criteria</a>
  <div class="animation start-home"></div>
</nav>

<p>
  By <span>Jasmine</span>
</p>
<router-outlet></router-outlet>

